
<h1>Index</h1>

<div>
    @Html.ActionLink("Page_1", "Page_1", "Private")
</div>
<div>
    @Html.ActionLink("Page_2", "Page_2", "Private")
</div>
<div>
    @Html.ActionLink("Page_3", "Page_3", "Private")
</div>
<br />